.comming-soon{
    min-height:460px;
    overflow:hidden;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
    
}
.comming-soon h1{
    color: rgb(207, 207, 203);
    font-size: 80px;
    font-weight: bold;
}
