* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  #wrapper {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }
  
  .container {
    margin-top: 5%;
  }
  
  .card {
    width: 50vw;
    height: 60vh;
    border: 1px solid black;
    display: flex;
    margin: auto;
    flex-direction: column;
    border-radius: 8px;
    overflow-y: auto;
    position: absolute;
    top: 20%;
    left: 20%;
  }
  
  .card-header {
    background: rgb(231, 223, 223);
    padding: 5%;
  }
  
  .user {
    display: flex;
    background-color: white;
  }
  
  .user img {
    height: 50px;
    width: 50px;
  }
  
  .bg-image {
    width: 100vw;
    height: 100vh;
    position: relative;
  }
  